@{
    ViewData["Title"] = "About Shortnr";
}
<h1>@ViewData["Title"]</h1>

<p>Shortnr is a URL shortner created to attend a Hackatoon which required participants to develop a URL shortner like Bit.ly</p>

<!--
LIST OF HELPFUL LINKS
https://docs.microsoft.com/pt-br/aspnet/core/tutorials/first-mvc-app/?view=aspnetcore-2.2
https://getbootstrap.com/docs/4.0/components/forms/
https://stackoverflow.com/questions/49634598/how-to-use-valuegeneratedonupdate-correctly
https://stackoverflow.com/questions/50527157/ef-core-migrations-with-multiple-dbcontexts-on-single-database
        https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/history-table

https://www.youtube.com/watch?v=vQxIt8gp7nY&t=318s
https://docs.microsoft.com/pt-br/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-2.2
http://www.tutorialsteacher.com/webapi/consume-web-api-get-method-in-aspnet-mvc
https://www.codeproject.com/Articles/1257705/Running-ASP-NET-Web-API-Solution-in-Docker
-->
