@{
    ViewData["Title"] = "About Shortnr";
}
<h1>@ViewData["Title"]</h1>

<p>Shortnr is a URL shortner created to attend a Hackatoon which required participants to develop a URL shortner like Bit.ly</p>
