@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url("/img/not_found.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

    #not-found-text {
        margin-left: 128px;
        text-align: right;
        color: #221f1b;
    }
    #not-found-text,
    #not-found-text > h1,
    #not-found-text > h3 {
        display: block;
    }
</style>


<div class="whole-page centered-container">
    <div id="not-found-text">
        <h1>CDIV</h1>
        <h3>Something went wrong</h3>
    </div>
</div>
