<style>
    div.quoted {
        font-style: italic;
    }
</style>
<div class="quoted">
    <h1>Assignment: URL Shortener</h1>
    <h2>Description</h2>
    <p>Most of us are familiar with seeing URLs like bit.ly or t.co on our Twitter or Facebook feeds. These are examples of shortened URLs, which are a short alias or pointer to a longer page link. For example, I can send you the shortened URL <a href="http://bit.ly/SaaYw5" target="_blank">http://bit.ly/SaaYw5</a> that will forward you to a very long Google URL with search results on how to iron a shirt.</p>

    <h2></h2>Mandatory Requirements
    <ul>
        <li>Design and implement an API for short URL creation</li>
        <li>Implement forwarding of short URLs to the original ones</li>
        <li>There should be some form of persistent storage</li>
        <li>The application should be distributed as one or more Docker images</li>
    </ul>
    <h2>Additional Requirements</h2>
    <ul>
        <li>Design and implement an API for gathering different statistics</li>
    </ul>
    <h2>Assessment</h2>
    <p></p>Treat this as a real project. It should be readable, maintainable, and extensible where appropriate.
    <p></p>The implementation should preferably be in Java, however any language can be used.
    <p></p>If you will transfer it to another team - it should be clear how to work with it and what is going on.
    <p></p>You should send us a link to a Git repository that we will be able to clone.
</div>
<p><strong>Original gist: </strong> <a href="https://gist.github.com/FylmTM/e3c4e5f337a176e94d6dd51703068925" target="_blank">https://gist.github.com/FylmTM/e3c4e5f337a176e94d6dd51703068925</a></p>